body.storesite .content-module, body.storesite .nav.nav-tabs.content-module { border: 2px solid #ccc; }
body.storesite #header-after-wrapper .content-module { border-left: 0; border-right: 0; border-top: 0; }
body.storesite .tab-content.content-module .tab-pane { border: 0; }